.content {
  flex-direction: column;
  justify-content: flex-start;
}

h1 {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  margin-top: 16px;
}

hr {
  width: 925px;
  height: 1px;
  border: none;
  background-color: #ccc;
  margin: 16px 0;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  font-size: 1.1em;
  line-height: 2em;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.contact a {
  color: black;
}

.contact a:hover {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 2em;
  }

  hr {
    width: 300px;
  }

  .contact {
    font-size: 0.9em;
  }

  .contact a{
    text-decoration: underline;
  }

  iframe {
    width: 345px;
    height: 300px;
  }
}

@media (max-width: 813px) {
  .content {
    height: 100%;
  }
}