.content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 24px;
  gap: 24px;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

hr {
  width: 100%;
  max-width: 1200px;
  height: 1px;
  border: none;
  background-color: #ccc;
  margin: 0;
}

.description {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 1.5em;
  font-size: 1.1em;
  text-align: center;
}

.featured_image {
  max-width: 1200px;
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

h2 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.step_by_step {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 1.2em;
}

.before_and_after {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  justify-items: center;
  max-width: 1200px;
}

.before_and_after_image {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 3 / 2;
}

.request_quote {
  font-size: 1.4em;
  background-color: #bbb;
}

@media (max-width: 800px) {
  h1 {
    font-size: 2.5em;
  }

  .description {
    font-size: 1em;
  }

  h2 {
    font-size: 1.5em;
  }

  .step_by_step {
    font-size: 1em;
  }

  .request_quote {
    font-size: 1em;
  }
}