.content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 48px 24px;
  gap: 48px;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.description {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 1.5em;
  font-size: 1.1em;
}

.featured_image {
  max-width: 1200px;
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  object-fit: cover;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

.step_by_step {
  display: flex;
  flex-direction: column;
  gap: 48px;
  font-size: 1.2em;
}

.step_by_step div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.before_and_after {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  justify-items: center;
  max-width: 1200px;
}

.before_and_after_image {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 3 / 2;
}

.request_quote {
  font-size: 1.4em;
  background-color: #bbb;
}

.pricing {
  display: grid;
  grid-template-columns: auto auto;
  gap: 64px;
}

.pricing_stage {
  display: flex;
  flex-direction: column;
  gap: 16px;
  line-height: 36px;
  font-size: 1.3em;
}

@media (max-width: 800px) {
  h1 {
    font-size: 2.5em;
  }

  .description {
    font-size: 1em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.3em;
  }

  .step_by_step {
    font-size: 1em;
  }

  .request_quote {
    font-size: 1em;
  }

  .pricing {
    grid-template-columns: auto;
    gap: 16px;
  }

  .pricing_stage {
    margin-bottom: 60px;
    line-height: 28px;
  }

  .pricing_stage_last {
    margin-bottom: 0px;
  }

  .pricing li,
  .pricing p {
  font-size: .75em;
}

  .pricing h3 {
    text-align: center;
  }
}